body {
  background-image: linear-gradient(to top, rgb(25, 24, 24), rgb(3, 3, 81));
  height: 612px;
}

#display {
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  padding-top: 50px;
  font-size: 100px;
  color: white;
  font-style: italic;
  font-weight: 900;
}